[data-semana]::after {
  display: inline-block;
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background: #e54;
  border-radius: 100%;
  border: 0.125rem solid #0000003d;
}

[data-semana].openned::after {
  background: #3f4;
}
