.btc-preco {
  padding: 0.25rem;
  background: greenyellow;
  border: 2px solid #00800080;
  border-radius: 0.25rem;
  font-weight: bold;
  color: #008000;
  font-family: "IBM Plex Mono", monospace;
}
