@import "root.css";

[data-dropdown] {
  position: relative;
}
[data-dropdown] .dropdown-menu {
  display: none;
}
[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: show-up 0.32s var(--gentle-transition) forwards;
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: scale(0.5) translate(0, 15%);
  }
  to {
    opacity: 1;
    transform: scal(1) translate(0, 0);
  }
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  background: #222;
  outline: 2px solid #33333385;
  border-radius: 0.5rem;
}

.dropdown-menu::before {
  content: "";
  display: block;
  position: absolute;
  top: -5%;
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #222;
}
.dropdown-menu a {
  color: #fffeff !important;
}
.dropdown-menu a:hover {
  color: #fb5 !important;
  transform: scale(0.97);
  transition: 0.32s var(--gentle-transition);
}

@media (max-width: 700) {
  [dropdown-menu] .dropdown-menu {
    display: block;
    animation: show-up 352ms var(--gentle-transition) forwards;
  }
}
